{%- if include.keys -%}
  {%- assign keys = include.keys -%}
{%- endif -%}

{%- if include.field -%}
  {%- assign field = include.field -%}
{%- endif -%}

<div class="page-segments">
  <ul class="page-segments-list">
    {% for key in keys %}
    <h2 id="{{ key }}" class="segment-name">{{ key }}</h2>
      {% for item in site.posts %}
        {%- assign item_date_formatted = item.date | date: '%Y-%m' -%}
        {%- if item_date_formatted == key -%}
          <li> {% include views/post-item.html %} </li>
        {%- endif -%}
      {% endfor %}
    {% endfor %}
  </ul>
</div>